.btn-get-jwallet {
  background: rgba(255, 255, 255, 0.1);
  border: 0.5px solid #ffffff;
  border-radius: 60px;
  padding: 18px 35px 18px 36px;
  transition: 0.2s;
  cursor: pointer;
  a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    .icon {
      margin-right: 10px;
    }
    .text {
      color: white;
      font-style: normal;
      font-weight: 800;
      font-size: 16px;
      line-height: 25px;
    }
    .uppercase {
      text-transform: uppercase;
    }
  }
  &:hover {
    opacity: 0.8;
    border: 0.5px solid ghostwhite;
  }
}

@media only screen and (max-width: 336px) {
  .btn-get-jwallet {
    border-radius: 40px;
    padding: 12px 20px 12px 20px;
    a {
      .icon {
        margin-right: 5px;
      }
      .text {
        font-weight: 800;
        font-size: 14px;
        line-height: 20px;
      }
    }
  }
}